/* Container para notificações (toasts) */
#toast-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1100; /* Acima dos modais do bootstrap */
}

.toast {
    padding: 1rem 1.5rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.toast.show { opacity: 1; }
.toast.success { background-color: #198754; }
.toast.error { background-color: #dc3545; }


/* Estilo e posicionamento do Modal */
#modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1050;
    display: none;
    align-items: flex-start;
    justify-content: center;
    padding-top: 5%;
}
#modal-container.active {
    display: flex;
}

/* Cores customizadas para Receita/Despesa */
.income-text {
    color: #198754 !important; /* Verde do Bootstrap Success */
}
.expense-text {
    color: #dc3545 !important; /* Vermelho do Bootstrap Danger */
}

/* Ícone do acordeão sem rotação */
.accordion-button.collapsed::after {
    transform: rotate(-90deg);
}

/* Ícone do wrapper de transação */
.transaction-icon-wrapper {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1rem;
    flex-shrink: 0;
}


/* TEMA ESCURO */
[data-theme="dark"] .fa-sun { display: none; }
[data-theme="light"] .fa-moon { display: none; }

[data-theme="dark"] {
    --bs-body-bg: #212529;
    --bs-body-color: #dee2e6;
    --bs-tertiary-bg: #343a40;
    --bs-secondary-bg: #495057;
    --bs-border-color: #495057;
    --bs-body-secondary: #adb5bd;
}
[data-theme="dark"] .modal-content {
    background-color: #343a40;
}
[data-theme="dark"] .nav-tabs .nav-link {
    border-color: #495057;
}
[data-theme="dark"] .nav-tabs .nav-link.active {
    background-color: #212529;
    border-color: #495057;
}
[data-theme="dark"] .accordion-button {
    background-color: #343a40;
    color: #dee2e6;
}
[data-theme="dark"] .accordion-button:not(.collapsed) {
    background-color: #495057;
}
[data-theme="dark"] .accordion-button::after {
    filter: invert(1) grayscale(100) brightness(200%);
}
